In [1]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!pip install gmaps
!pip install census
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

Requirement already satisfied: gmaps in c:\users\bocli\new_anaconda\lib\site-packages (0.9.0)
Requirement already satisfied: geojson>=2.0.0 in c:\users\bocli\new_anaconda\lib\site-packages (from gmaps) (2.5.0)
Requirement already satisfied: ipython>=5.3.0 in c:\users\bocli\new_anaconda\lib\site-packages (from gmaps) (7.8.0)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\bocli\new_anaconda\lib\site-packages (from gmaps) (4.3.3)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\bocli\new_anaconda\lib\site-packages (from gmaps) (7.5.1)
Requirement already satisfied: six in c:\users\bocli\new_anaconda\lib\site-packages (from gmaps) (1.12.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\bocli\new_anaconda\lib\site-packages (from ipython>=5.3.0->gmaps) (2.0.10)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\bocli\new_anaconda\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.1)
Requirement already satisfied: decorator in c:\users\bocli\new_anaconda\lib\site-packages (from ipython>=5.3.0->gmaps) (4.4.0)
Requirement already satisfied: pygments in c:\users\bocli\new_anaconda\lib\site-packages (from ipython>=5.3.0->gmaps) (2.4.2)
Requirement already satisfied: pickleshare in c:\users\bocli\new_anaconda\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\bocli\new_anaconda\lib\site-packages (from ipython>=5.3.0->gmaps) (41.4.0)
Requirement already satisfied: jedi>=0.10 in c:\users\bocli\new_anaconda\lib\site-packages (from ipython>=5.3.0->gmaps) (0.15.1)
Requirement already satisfied: backcall in c:\users\bocli\new_anaconda\lib\site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: ipython-genutils in c:\users\bocli\new_anaconda\lib\site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\bocli\new_anaconda\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (4.4.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\bocli\new_anaconda\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\bocli\new_anaconda\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.1.2)
Requirement already satisfied: wcwidth in c:\users\bocli\new_anaconda\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.1.7)
Requirement already satisfied: parso>=0.5.0 in c:\users\bocli\new_anaconda\lib\site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.5.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\bocli\new_anaconda\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.0.2)
Requirement already satisfied: jupyter-core in c:\users\bocli\new_anaconda\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.5.0)
Requirement already satisfied: notebook>=4.4.1 in c:\users\bocli\new_anaconda\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.1)
Requirement already satisfied: jupyter-client in c:\users\bocli\new_anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (5.3.3)
Requirement already satisfied: tornado>=4.2 in c:\users\bocli\new_anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\bocli\new_anaconda\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.15.4)
Requirement already satisfied: attrs>=17.4.0 in c:\users\bocli\new_anaconda\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (19.2.0)
Requirement already satisfied: jinja2 in c:\users\bocli\new_anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.10.3)
Requirement already satisfied: prometheus-client in c:\users\bocli\new_anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: Send2Trash in c:\users\bocli\new_anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: nbconvert in c:\users\bocli\new_anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (5.6.0)
Requirement already satisfied: terminado>=0.8.1 in c:\users\bocli\new_anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.2)
Requirement already satisfied: pyzmq>=17 in c:\users\bocli\new_anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (18.1.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\bocli\new_anaconda\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (223)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\bocli\new_anaconda\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\bocli\new_anaconda\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\bocli\new_anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\bocli\new_anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: testpath in c:\users\bocli\new_anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.2)
Requirement already satisfied: bleach in c:\users\bocli\new_anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.1.0)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\bocli\new_anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: defusedxml in c:\users\bocli\new_anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: webencodings in c:\users\bocli\new_anaconda\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: census in c:\users\bocli\new_anaconda\lib\site-packages (0.8.13)
Requirement already satisfied: future in c:\users\bocli\new_anaconda\lib\site-packages (from census) (0.17.1)
Requirement already satisfied: requests>=1.1.0 in c:\users\bocli\new_anaconda\lib\site-packages (from census) (2.22.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bocli\new_anaconda\lib\site-packages (from requests>=1.1.0->census) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\bocli\new_anaconda\lib\site-packages (from requests>=1.1.0->census) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\bocli\new_anaconda\lib\site-packages (from requests>=1.1.0->census) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\bocli\new_anaconda\lib\site-packages (from requests>=1.1.0->census) (1.24.2)

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [2]:
#Importing dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import time
from census import Census
from us import states

#census key
from config import g_key

#census API Key
from config import acs_key
c = Census(acs_key, year=2018)

In [3]:
census_data = c.acs5.get(("B01003_001E", "B17001_002E"), {
    'for': 'zip code tabulation area:*'})

#convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                    "B17001_002E": "Poverty Count",
                                    "zip code tabulation area": "Zipcode"})
#Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = census_pd["Poverty Count"]
/ census_pd["Population"]
census_pd
# Final DataFrame
del census_pd["Poverty Count"]
census_pd

       Population Zipcode  Poverty Rate
0         17242.0   00601       10772.0
1         38442.0   00602       19611.0
2         48814.0   00603       24337.0
3          6437.0   00606        4163.0
4         27073.0   00610       11724.0
...           ...     ...           ...
33115        15.0   99923           0.0
33116       927.0   99925         172.0
33117      1635.0   99926         235.0
33118        38.0   99927          28.0
33119      2484.0   99929         192.0

[33120 rows x 3 columns]

In [6]:
census_data = c.acs5.get(("B01003_001E", "B19001_001E"), {
    'for': 'zip code tabulation area:*'})

census_pd = pd.DataFrame(census_data)

census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                         "B19001_001E": "Household Income",
                         "zip code tabulation area" : "zipcode"
                         })
census_pd

       Population  Household Income zipcode
0         17242.0            5517.0   00601
1         38442.0           12738.0   00602
2         48814.0           19233.0   00603
3          6437.0            2014.0   00606
4         27073.0            8858.0   00610
...           ...               ...     ...
33115        15.0              15.0   99923
33116       927.0             325.0   99925
33117      1635.0             480.0   99926
33118        38.0              29.0   99927
33119      2484.0            1074.0   99929

[33120 rows x 3 columns]

In [9]:
d = Census(acs_key, year=2017)

census_pd = d.acs5.get(("B01003_001E", "B19001_001E"), {
    'for': 'zip code tabulation area:*'})

census_pd = pd.DataFrame(census_data)

census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                         "B19001_001E": "Household Income",
                         "zip code tabulation area" : "zipcode"
                         })
census_pd

       Population  Household Income zipcode
0         17242.0            5517.0   00601
1         38442.0           12738.0   00602
2         48814.0           19233.0   00603
3          6437.0            2014.0   00606
4         27073.0            8858.0   00610
...           ...               ...     ...
33115        15.0              15.0   99923
33116       927.0             325.0   99925
33117      1635.0             480.0   99926
33118        38.0              29.0   99927
33119      2484.0            1074.0   99929

[33120 rows x 3 columns]

In [10]:
e = Census(acs_key, year = 2016)

census_pd = e.acs5.get(("B01003_001E", "B19001_001E"), {
    'for': 'zip code tabulation area:*'})
census_pd = pd.DataFrame(census_data)

census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                         "B19001_001E": "Household Income",
                         "zip code tabulation area" : "zipcode"
                         })
census_pd

       Population  Household Income zipcode
0         17242.0            5517.0   00601
1         38442.0           12738.0   00602
2         48814.0           19233.0   00603
3          6437.0            2014.0   00606
4         27073.0            8858.0   00610
...           ...               ...     ...
33115        15.0              15.0   99923
33116       927.0             325.0   99925
33117      1635.0             480.0   99926
33118        38.0              29.0   99927
33119      2484.0            1074.0   99929

[33120 rows x 3 columns]

In [11]:
f = Census(acs_key, year=2015)

census_pd = e.acs5.get(("B01003_001E", "B19001_001E"), {
    'for': 'zip code tabulation area:*'})
census_pd = pd.DataFrame(census_data)

census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                         "B19001_001E": "Household Income",
                         "zip code tabulation area" : "zipcode"
                         })
census_pd

       Population  Household Income zipcode
0         17242.0            5517.0   00601
1         38442.0           12738.0   00602
2         48814.0           19233.0   00603
3          6437.0            2014.0   00606
4         27073.0            8858.0   00610
...           ...               ...     ...
33115        15.0              15.0   99923
33116       927.0             325.0   99925
33117      1635.0             480.0   99926
33118        38.0              29.0   99927
33119      2484.0            1074.0   99929

[33120 rows x 3 columns]