In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import seaborn as sb


# Study data files


Incidence_gender_metadata = "Resource/New Cancer/USCS_by_Gender.csv" 
Death_gender_metadata = "Resource/Cancer death/USCS_by_gender.csv"

In [2]:
#Data for Incidence rate 
Incidence_metadata = "Resource/New Cancer/incd_statewise.csv"
Incidence_metadata = pd.read_csv(Incidence_metadata,skiprows=8)
Incidence_dropped = Incidence_metadata.dropna()

Incidence_dropped.head()

,State,FIPS,Met Healthy People Objective of ***?,"Age-Adjusted Incidence Rate(Ü) - cases per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend (á) in Incidence Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,"US (SEER+NPCR)(1,10)",0.0,***,448.0,447.7,448.4,1638110.0,falling,-0.9,-1.6,-0.1
1,"Kentucky(7,8)",21000.0,***,520.9,518.1,523.7,26945.0,stable,-0.1,-0.3,0.0
2,"Delaware(6,10)",10000.0,***,498.4,492.6,504.3,5803.0,stable,-0.9,-2.3,0.5
3,"Pennsylvania(6,10)",42000.0,***,487.0,485.4,488.6,79060.0,stable,-0.3,-1.1,0.5
4,"New Hampshire(6,10)",33000.0,***,483.5,478.7,488.4,8129.0,stable,-0.8,-2.1,0.5

In [3]:
#Drop data for USA and Drop Coloumns not required
Incidence_dropped_clean= Incidence_dropped.drop([" FIPS","Met Healthy People Objective of ***?"], axis=1)
Incidence_dropped_US= Incidence_dropped_clean.drop(0)
Incidence_dropped_US.head()

,State,"Age-Adjusted Incidence Rate(Ü) - cases per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend (á) in Incidence Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
1,"Kentucky(7,8)",520.9,518.1,523.7,26945.0,stable,-0.1,-0.3,0.0
2,"Delaware(6,10)",498.4,492.6,504.3,5803.0,stable,-0.9,-2.3,0.5
3,"Pennsylvania(6,10)",487.0,485.4,488.6,79060.0,stable,-0.3,-1.1,0.5
4,"New Hampshire(6,10)",483.5,478.7,488.4,8129.0,stable,-0.8,-2.1,0.5
5,"New Jersey(7,8)",483.3,481.4,485.2,50921.0,falling,-7.9,-11.1,-4.5

In [4]:
# Remove () and text and character in the ()
Incidence_dropped_US["State"]= Incidence_dropped_US["State"].str.replace(r"\(.*\)","")
Incidence_dropped_US.head()

,State,"Age-Adjusted Incidence Rate(Ü) - cases per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend (á) in Incidence Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
1,Kentucky,520.9,518.1,523.7,26945.0,stable,-0.1,-0.3,0.0
2,Delaware,498.4,492.6,504.3,5803.0,stable,-0.9,-2.3,0.5
3,Pennsylvania,487.0,485.4,488.6,79060.0,stable,-0.3,-1.1,0.5
4,New Hampshire,483.5,478.7,488.4,8129.0,stable,-0.8,-2.1,0.5
5,New Jersey,483.3,481.4,485.2,50921.0,falling,-7.9,-11.1,-4.5

In [5]:
# Remane the data table
Final_Incidence_data = Incidence_dropped_US.rename(columns={"Age-Adjusted Incidence Rate(Ü) - cases per 100,000": "Incidence Rate", "Recent 5-Year Trend (á) in Incidence Rates": "Trend"})
Final_Incidence_data.head()

,State,Incidence Rate,Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Trend,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
1,Kentucky,520.9,518.1,523.7,26945.0,stable,-0.1,-0.3,0.0
2,Delaware,498.4,492.6,504.3,5803.0,stable,-0.9,-2.3,0.5
3,Pennsylvania,487.0,485.4,488.6,79060.0,stable,-0.3,-1.1,0.5
4,New Hampshire,483.5,478.7,488.4,8129.0,stable,-0.8,-2.1,0.5
5,New Jersey,483.3,481.4,485.2,50921.0,falling,-7.9,-11.1,-4.5

In [6]:
# Data for Death Rate
Death_metadata = "Resource/Cancer death/death_statewise.csv"
Death_metadata = pd.read_csv(Death_metadata,skiprows=8)
Death_dropped = Death_metadata.dropna()
Death_dropped.head()

,State,FIPS,Met Healthy People Objective of 161.4?,"Age-Adjusted Death Rate(Ü) - deaths per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend (á) in Death Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,United States,0.0,Yes,161.0,160.8,161.1,590623.0,falling,-1.5,-1.6,-1.5
1,Kentucky,21000.0,No,197.9,196.2,199.7,10206.0,falling,-1.1,-1.2,-0.9
2,Mississippi,28000.0,No,193.6,191.5,195.8,6522.0,falling,-1.0,-1.1,-0.9
3,West Virginia,54000.0,No,189.4,187.0,191.9,4756.0,falling,-1.0,-1.1,-0.9
4,Arkansas,5000.0,No,185.2,183.1,187.2,6623.0,falling,-1.1,-1.4,-0.9

In [7]:
#Cleaning of the data_1
Death_dropped_clean= Death_dropped.drop([" FIPS","Met Healthy People Objective of 161.4?"], axis=1)
Death_dropped_US= Death_dropped_clean.drop(0)
Death_dropped_US.head()

,State,"Age-Adjusted Death Rate(Ü) - deaths per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend (á) in Death Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
1,Kentucky,197.9,196.2,199.7,10206.0,falling,-1.1,-1.2,-0.9
2,Mississippi,193.6,191.5,195.8,6522.0,falling,-1.0,-1.1,-0.9
3,West Virginia,189.4,187.0,191.9,4756.0,falling,-1.0,-1.1,-0.9
4,Arkansas,185.2,183.1,187.2,6623.0,falling,-1.1,-1.4,-0.9
5,Tennessee,184.0,182.6,185.3,14111.0,falling,-1.3,-1.4,-1.2

In [8]:
# Column drop
Final_Death_data = Death_dropped_US.rename(columns={"Age-Adjusted Death Rate(Ü) - deaths per 100,000": "Death Rate",
                                                    "Recent 5-Year Trend (á) in Death Rates": "Trend"})
Final_Death_data.head()

,State,Death Rate,Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Trend,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
1,Kentucky,197.9,196.2,199.7,10206.0,falling,-1.1,-1.2,-0.9
2,Mississippi,193.6,191.5,195.8,6522.0,falling,-1.0,-1.1,-0.9
3,West Virginia,189.4,187.0,191.9,4756.0,falling,-1.0,-1.1,-0.9
4,Arkansas,185.2,183.1,187.2,6623.0,falling,-1.1,-1.4,-0.9
5,Tennessee,184.0,182.6,185.3,14111.0,falling,-1.3,-1.4,-1.2

In [9]:
# Merge incidence rate and death rate data sets
combined_cancer_data = pd.merge(Final_Incidence_data, Final_Death_data, how="left", on= "State")
combined_cancer_data.head()

,State,Incidence Rate,Lower 95% Confidence Interval_x,Upper 95% Confidence Interval_x,Average Annual Count_x,Recent Trend_x,Trend_x,Lower 95% Confidence Interval.1_x,Upper 95% Confidence Interval.1_x,Death Rate,Lower 95% Confidence Interval_y,Upper 95% Confidence Interval_y,Average Annual Count_y,Recent Trend_y,Trend_y,Lower 95% Confidence Interval.1_y,Upper 95% Confidence Interval.1_y
0,Kentucky,520.9,518.1,523.7,26945.0,stable,-0.1,-0.3,0.0,197.9,196.2,199.7,10206.0,falling,-1.1,-1.2,-0.9
1,Delaware,498.4,492.6,504.3,5803.0,stable,-0.9,-2.3,0.5,169.6,166.2,173.0,1989.0,falling,-1.6,-1.7,-1.4
2,Pennsylvania,487.0,485.4,488.6,79060.0,stable,-0.3,-1.1,0.5,169.0,168.1,169.9,28658.0,falling,-1.5,-1.5,-1.4
3,New Hampshire,483.5,478.7,488.4,8129.0,stable,-0.8,-2.1,0.5,162.0,159.3,164.9,2718.0,falling,-1.5,-1.6,-1.3
4,New Jersey,483.3,481.4,485.2,50921.0,falling,-7.9,-11.1,-4.5,153.5,152.4,154.6,16407.0,falling,-2.1,-2.2,-2.0

In [10]:
# Cleaning of merged data set
final_combined_cancer_data = combined_cancer_data.drop(["Lower 95% Confidence Interval_x",
"Upper 95% Confidence Interval_x","Recent Trend_x", "Trend_x","Lower 95% Confidence Interval.1_x", 
"Upper 95% Confidence Interval.1_x","Lower 95% Confidence Interval_y","Upper 95% Confidence Interval_y",
"Recent Trend_y", "Trend_y", "Lower 95% Confidence Interval.1_y", "Upper 95% Confidence Interval.1_y"], axis=1)
final_combined_cancer_data=final_combined_cancer_data.dropna()
final_combined_cancer_data = final_combined_cancer_data.sort_values('Incidence Rate')
final_combined_cancer_data = final_combined_cancer_data.set_index('State') 
final_combined_cancer_data.head()

,Incidence Rate,Average Annual Count_x,Death Rate,Average Annual Count_y
State,,,,
New Mexico,374.3,9116.0,144.0,3514.0
Arizona,387.0,30448.0,144.1,11508.0
Nevada,392.6,12409.0,162.3,4934.0
Wyoming,397.3,2638.0,144.7,943.0
Colorado,401.4,22701.0,138.9,7520.0

In [11]:
export_csv = final_combined_cancer_data.to_csv (r'Resource/final_combined_cancer_data.csv', header=True)

In [12]:
# New data set by addition of Cancer Death per hundred cancer patient by using absolute number of cancer incidence and cancer death
final_combined_cancer_data['Cancer Death_per_hundred_cancer_patient']= 100*(final_combined_cancer_data['Average Annual Count_y'].div(final_combined_cancer_data['Average Annual Count_x'].values,axis=0))

Rounded_data= round(final_combined_cancer_data,0) 

Rounded_data.head()

,Incidence Rate,Average Annual Count_x,Death Rate,Average Annual Count_y,Cancer Death_per_hundred_cancer_patient
State,,,,,
New Mexico,374.0,9116.0,144.0,3514.0,39.0
Arizona,387.0,30448.0,144.0,11508.0,38.0
Nevada,393.0,12409.0,162.0,4934.0,40.0
Wyoming,397.0,2638.0,145.0,943.0,36.0
Colorado,401.0,22701.0,139.0,7520.0,33.0

In [13]:
export_csv = Rounded_data.to_csv (r'Resource/Added_final_combined_cancer_data.csv', header=True)

In [15]:
# A new data set for ten highest and lowest cancer incidence states  
cx= Rounded_data.sort_values("Incidence Rate") 
cx.head(10)
cx.tail(10)
dx = pd.concat([cx.head(10),cx.tail(10)])
dx.head()

,Incidence Rate,Average Annual Count_x,Death Rate,Average Annual Count_y,Cancer Death_per_hundred_cancer_patient
State,,,,,
New Mexico,374.0,9116.0,144.0,3514.0,39.0
Arizona,387.0,30448.0,144.0,11508.0,38.0
Nevada,393.0,12409.0,162.0,4934.0,40.0
Wyoming,397.0,2638.0,145.0,943.0,36.0
Colorado,401.0,22701.0,139.0,7520.0,33.0

In [16]:
export_csv = dx.to_csv (r'Resource/heighest_lowest_Incidencerate_data.csv', header=True)

In [17]:
# A new data set for ten highest and lowest cancer death rate states  
cx= Rounded_data.sort_values("Death Rate") 
cx.head(10)
cx.tail(10)
dx = pd.concat([cx.head(10),cx.tail(10)])
dx.head()

,Incidence Rate,Average Annual Count_x,Death Rate,Average Annual Count_y,Cancer Death_per_hundred_cancer_patient
State,,,,,
Utah,403.0,10143.0,127.0,3021.0,30.0
Colorado,401.0,22701.0,139.0,7520.0,33.0
New Mexico,374.0,9116.0,144.0,3514.0,39.0
Arizona,387.0,30448.0,144.0,11508.0,38.0
California,405.0,165242.0,145.0,58588.0,35.0

In [18]:
export_csv = dx.to_csv (r'Resource/heighest_lowest_deathrate_data.csv', header=True)

In [1]:
#Sam's Part
import pandas as pd
from functools import reduce
#Read in air quality data by county and state from https://aqs.epa.gov/aqsweb/airdata/download_files.html#Meta for years 2012-2016
df_2016=pd.read_csv("C:\\Users\\samantha.ettinger\\Downloads\\Sam-Group-Project\\annual_aqi_by_county_2016.csv")
df_2015=pd.read_csv("C:\\Users\\samantha.ettinger\\Downloads\\Sam-Group-Project\\annual_aqi_by_county_2015.csv")
df_2014=pd.read_csv("C:\\Users\\samantha.ettinger\\Downloads\\Sam-Group-Project\\annual_aqi_by_county_2014.csv")
df_2013=pd.read_csv("C:\\Users\\samantha.ettinger\\Downloads\\Sam-Group-Project\\annual_aqi_by_county_2013.csv")
df_2012=pd.read_csv("C:\\Users\\samantha.ettinger\\Downloads\\Sam-Group-Project\\annual_aqi_by_county_2012.csv")

In [2]:
#concatenate county and state for every data set to have a unique identifier to join in all data sets
df_state_county=df_2016["State"] + "-"+df_2016["County"]
df_2016["code"]=df_state_county


df_state_county_1=df_2015["State"] + "-" + df_2015["County"]
df_2015["code"]=df_state_county_1
df_2015_removed=df_2015["code"]

df_state_county_2=df_2014["State"] + "-" + df_2014["County"]
df_2014["code"]=df_state_county_2
df_2014_removed=df_2014["code"]

df_state_county_3=df_2013["State"] + "-" + df_2013["County"]
df_2013["code"]=df_state_county_3
df_2013_removed=df_2013["code"]

df_state_county_4=df_2012["State"] + "-" + df_2012["County"]
df_2012["code"]=df_state_county_4
df_2012_removed=df_2012["code"]

#create dataframes for all years of data
data_frames = [df_2016, df_2015_removed, df_2014_removed,df_2013_removed,df_2012_removed]

In [3]:
#merge all dataframes by code to create one master dataset that contains only data contained within all data sets
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['code'],
                                            how='inner'), data_frames)
#rename columns to exclude variable in column name
d = df_merged.rename(columns={"State_x":"State","County_x":"County"})
df_renamed=df_merged.rename(columns={"State_x":"State","County_x":"County"})

#when using reduce, our key "code" column is lost-add that back in to the master dataframe
df_renamed["code"]=df_renamed["State"]+"-"+df_renamed["County"]
df_renamed["code"]
df_renamed

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10,code
0,Alabama,Baldwin,2016,279,247,32,0,0,0,0,87,51,37,0,0,221,0,58,0,Alabama-Baldwin
1,Alabama,Clay,2016,116,109,7,0,0,0,0,56,45,30,0,0,0,0,116,0,Alabama-Clay
2,Alabama,Colbert,2016,282,258,23,1,0,0,0,115,50,38,0,0,219,0,63,0,Alabama-Colbert
3,Alabama,DeKalb,2016,348,304,43,1,0,0,0,119,54,40,0,0,321,0,27,0,Alabama-DeKalb
4,Alabama,Elmore,2016,117,107,10,0,0,0,0,77,48,40,0,0,117,0,0,0,Alabama-Elmore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,Wyoming,Sublette,2016,366,297,68,1,0,0,0,102,61,44,0,0,351,0,15,0,Wyoming-Sublette
998,Wyoming,Sweetwater,2016,366,303,62,1,0,0,0,111,60,44,0,0,323,5,4,34,Wyoming-Sweetwater
999,Wyoming,Teton,2016,366,331,35,0,0,0,0,99,50,41,0,0,351,0,15,0,Wyoming-Teton
1000,Wyoming,Uinta,2016,366,341,25,0,0,0,0,87,49,42,0,0,359,0,0,7,Wyoming-Uinta
1001,Wyoming,Weston,2016,366,325,41,0,0,0,0,90,51,41,0,0,350,10,6,0,Wyoming-Weston

In [4]:
#join individual data sets to master data set and aggregate by state and mean value across all counties for each year. Drop Hawaii and Virgin Islands from data set.

df_2016_unique_values=df_2016["code"]
df_2016_unique_rows=pd.merge(df_renamed,df_2016_unique_values,on='code')
df_2016_unique_rows=df_2016_unique_rows.groupby(["State"]).mean()
df_2016_unique_rows=df_2016_unique_rows.assign(Year='2016')
pos=[7,48]
df_2016_unique_rows.drop(df_2016_unique_rows.index[pos], inplace=True)






df_2015_unique_rows=pd.merge(df_renamed,df_2015_removed,on='code')
df_2015_unique_rows=df_2015_unique_rows.groupby(["State"]).mean()
df_2015_unique_rows=df_2015_unique_rows.assign(Year='2015')
pos=[7,48]
df_2015_unique_rows.drop(df_2015_unique_rows.index[pos], inplace=True)
df_2015_unique_rows.drop(df_2015_unique_rows.index[pos], inplace=True)





df_2014_unique_rows=pd.merge(df_renamed,df_2014_removed,on='code')
df_2014_unique_rows=df_2014_unique_rows.groupby(["State"]).mean()
df_2014_unique_rows=df_2014_unique_rows.assign(Year='2014')
pos=[7,48]
df_2014_unique_rows.drop(df_2014_unique_rows.index[pos], inplace=True)


df_2013_unique_rows=pd.merge(df_renamed,df_2013_removed,on='code')
df_2013_unique_rows=df_2013_unique_rows.groupby(["State"]).mean()
df_2013_unique_rows=df_2013_unique_rows.assign(Year='2013')
pos=[7,48]
df_2013_unique_rows.drop(df_2013_unique_rows.index[pos], inplace=True)



df_2012_unique_rows=pd.merge(df_renamed,df_2012_removed,on='code')
df_2012_unique_rows=df_2012_unique_rows.groupby(["State"]).mean()
df_2012_unique_rows=df_2012_unique_rows.assign(Year='2012')
pos=[7,48]
df_2012_unique_rows.drop(df_2012_unique_rows.index[pos], inplace=True)

In [5]:
#merge all aggregated datasets to create a new master dataset
data_frames_1= [df_2016_unique_rows, df_2015_unique_rows, df_2014_unique_rows,df_2013_unique_rows,df_2012_unique_rows]
df_merged_1 = reduce(lambda  left,right: pd.merge(left,right,on=['State'],
                                            how='inner'), data_frames_1)

In [6]:
#use concat function to lay all datasets on to top of each other
rt=pd.concat([df_2016_unique_rows, df_2015_unique_rows,df_2014_unique_rows,df_2013_unique_rows,df_2012_unique_rows], axis=0, join='inner')

In [7]:
#aggregate by State and mean value across all years

final_dataframe=rt.groupby(["State"]).mean()

In [8]:
final_dataframe=final_dataframe.round(2)
final_dataframe

,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
State,,,,,,,,,,,,,,,,
Alabama,274.82,213.47,59.65,1.41,0.29,0.00,0.00,113.88,55.24,39.71,0.00,0.94,154.41,0.59,115.35,3.53
Alaska,285.29,236.71,40.00,5.29,3.29,0.00,0.00,88.43,52.86,24.14,0.00,0.57,105.71,0.29,150.43,28.29
Arizona,363.69,237.31,106.54,16.92,2.62,0.15,0.15,234.69,70.62,45.69,0.00,2.62,192.85,20.46,36.77,111.00
Arkansas,274.73,242.00,32.36,0.18,0.18,0.00,0.00,91.45,51.73,33.55,0.00,2.36,165.55,22.36,84.45,0.00
California,351.81,214.48,108.74,22.96,4.63,0.41,0.59,270.56,82.76,46.46,0.00,4.41,221.28,0.00,109.98,16.15
Colorado,293.83,230.33,60.60,2.67,0.20,0.03,0.00,105.10,54.00,34.73,0.03,9.17,194.83,0.63,26.33,62.83
Connecticut,316.12,245.12,60.50,8.50,2.00,0.00,0.00,164.62,70.00,40.25,0.00,11.50,220.00,0.00,84.62,0.00
Delaware,365.33,276.00,84.33,4.67,0.33,0.00,0.00,139.67,65.33,41.33,0.00,4.67,271.33,0.33,89.00,0.00
District Of Columbia,366.00,211.00,148.00,7.00,0.00,0.00,0.00,129.00,68.00,47.00,0.00,31.00,164.00,0.00,171.00,0.00
Florida,357.82,313.53,43.76,0.45,0.08,0.00,0.00,95.66,51.68,37.13,0.11,1.05,239.87,5.00,100.11,11.68
Georgia,286.56,224.78,58.34,2.97,0.47,0.00,0.00,129.75,57.91,38.50,0.00,1.47,128.81,4.09,152.19,0.00
Hawaii,364.00,264.50,21.50,32.25,45.25,0.25,0.25,145.25,77.50,54.25,0.00,14.75,70.50,89.25,184.25,5.25
Idaho,341.09,276.09,59.09,5.45,0.45,0.00,0.00,121.18,58.55,27.91,0.00,2.18,57.18,39.73,230.55,11.45
Illinois,325.50,271.65,50.62,3.15,0.08,0.00,0.00,112.69,53.50,33.81,0.00,3.31,206.81,43.96,70.81,0.62
Indiana,283.92,232.00,49.13,2.72,0.05,0.03,0.00,111.72,55.38,33.05,0.08,1.44,127.97,49.26,104.26,0.92
Iowa,294.79,233.32,60.84,0.53,0.11,0.00,0.00,97.95,53.00,34.11,0.00,0.42,88.47,14.47,164.74,26.68
Kansas,314.82,284.73,29.64,0.36,0.09,0.00,0.00,104.73,48.18,31.91,0.00,2.91,224.55,0.18,43.91,43.27
Kentucky,314.93,255.96,57.25,1.57,0.14,0.00,0.00,111.71,56.46,39.36,0.04,2.07,198.93,8.89,104.18,0.82
Louisiana,327.62,275.14,51.14,1.33,0.00,0.00,0.00,97.38,53.43,37.24,0.00,3.62,212.38,3.57,107.57,0.48
Maine,332.40,305.00,26.80,0.50,0.10,0.00,0.00,101.40,49.10,33.40,0.00,8.80,230.60,4.70,87.10,1.20
Maryland,314.40,236.27,71.87,5.73,0.47,0.07,0.00,134.00,67.80,41.33,0.00,6.20,215.13,0.00,92.93,0.13
Massachusetts,362.75,319.42,41.00,2.17,0.17,0.00,0.00,121.58,51.83,35.83,0.00,7.83,272.17,0.00,82.67,0.08
Michigan,290.32,239.14,45.04,6.07,0.07,0.00,0.00,123.11,59.86,34.71,0.00,0.75,175.86,17.46,95.21,1.04
Minnesota,334.32,304.21,29.42,0.63,0.05,0.00,0.00,104.21,46.84,29.21,0.05,6.53,161.89,0.32,148.74,16.79
Mississippi,308.00,269.40,38.50,0.10,0.00,0.00,0.00,87.30,51.70,37.50,0.00,5.80,195.50,2.30,104.40,0.00
Missouri,300.55,256.86,42.00,1.59,0.09,0.00,0.00,103.73,54.14,35.50,0.00,6.91,167.18,23.91,89.86,12.68
Montana,310.05,270.68,36.32,2.74,0.26,0.00,0.05,116.68,45.58,26.68,0.16,1.37,110.37,2.74,170.05,25.37
Nebraska,213.40,191.30,21.40,0.70,0.00,0.00,0.00,78.20,44.40,25.50,0.00,0.00,74.00,2.30,99.70,37.40
Nevada,356.56,279.67,72.56,4.11,0.00,0.11,0.11,151.00,59.11,36.78,0.00,4.78,209.67,0.00,63.11,79.00
New Hampshire,350.29,316.14,32.71,1.43,0.00,0.00,0.00,99.86,50.86,36.00,0.00,0.00,306.71,1.29,42.29,0.00
New Jersey,344.56,261.81,77.31,5.06,0.38,0.00,0.00,137.81,62.94,39.62,0.12,26.25,202.31,0.25,114.94,0.69
New Mexico,284.75,228.19,55.12,1.12,0.25,0.00,0.06,119.56,47.19,30.56,0.00,1.25,185.31,0.00,67.06,31.12
New York,353.79,310.34,40.31,3.07,0.07,0.00,0.00,119.03,52.76,34.76,0.10,11.28,255.34,3.14,83.93,0.00
North Carolina,298.56,246.33,50.11,1.64,0.47,0.00,0.00,113.94,55.42,37.69,0.00,0.83,187.00,13.39,91.53,5.81
North Dakota,362.67,348.78,13.44,0.44,0.00,0.00,0.00,94.33,44.56,32.44,0.00,2.22,303.78,4.56,44.78,7.33
Ohio,316.59,252.59,60.37,3.51,0.12,0.00,0.00,109.88,57.44,35.83,0.10,8.56,162.56,28.12,110.02,7.22
Oklahoma,338.94,290.24,48.18,0.47,0.06,0.00,0.00,95.47,52.12,38.00,0.00,8.12,236.82,4.41,71.71,17.88
Oregon,343.45,305.41,37.68,0.32,0.05,0.00,0.00,90.82,49.82,24.64,0.00,2.77,65.55,0.00,274.73,0.41
Pennsylvania,362.00,268.05,89.62,4.27,0.03,0.03,0.00,126.05,61.14,40.59,0.00,1.30,232.32,12.35,114.92,1.11
Puerto Rico,257.55,239.82,15.00,1.91,0.64,0.18,0.00,118.82,37.91,17.09,36.00,21.27,46.64,37.00,63.27,53.36
Rhode Island,360.33,307.00,49.00,4.00,0.33,0.00,0.00,146.00,54.33,37.00,0.00,15.33,213.00,0.00,132.00,0.00
South Carolina,303.11,259.32,42.00,1.21,0.58,0.00,0.00,119.84,52.47,37.89,0.00,0.63,195.05,0.79,89.47,17.16
South Dakota,338.22,309.00,28.56,0.67,0.00,0.00,0.00,92.89,48.89,32.44,0.00,5.56,206.44,0.00,78.44,47.78
Tennessee,274.90,218.70,52.65,3.00,0.55,0.00,0.00,121.05,57.80,38.25,0.10,3.90,188.00,15.80,64.90,2.20
Texas,349.02,294.10,52.63,2.17,0.12,0.00,0.00,107.80,55.10,36.61,0.00,4.17,231.68,2.10,110.76,0.32
Utah,325.21,237.43,79.36,7.21,1.07,0.14,0.00,124.86,63.43,39.50,0.00,12.71,251.57,0.00,60.00,0.93
Vermont,301.50,279.75,21.50,0.25,0.00,0.00,0.00,83.00,42.75,29.00,0.00,3.00,217.00,0.00,81.50,0.00
Virginia,254.88,227.82,25.97,1.09,0.00,0.00,0.00,91.26,45.88,30.03,1.00,30.82,139.91,0.74,71.53,10.88
Washington,348.76,317.45,30.34,0.79,0.17,0.00,0.00,88.17,44.24,24.10,0.03,4.03,53.34,0.00,287.45,3.90
West Virginia,297.57,261.57,35.07,0.93,0.00,0.00,0.00,98.29,51.79,34.36,2.43,0.00,159.57,41.86,81.93,11.79
Wisconsin,289.56,249.74,35.85,3.74,0.22,0.00,0.00,117.15,57.11,34.37,0.00,1.33,188.11,13.93,85.89,0.30
Wyoming,328.53,286.24,42.00,0.24,0.06,0.00,0.00,97.00,50.94,37.00,0.00,1.47,266.59,1.53,14.88,44.06

In [9]:
export_csv=final_dataframe.to_csv("C:\\Users\\samantha.ettinger\\final_air_quality_data.csv")

In [5]:
#Anishaa's part

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as sts
import numpy as np
from scipy.stats import linregress
import seaborn as sns

# Study data files
Lifestyle_data = "../Row-2-Group-Project/cdc_npao.csv"
Incidence_data = "../Row-2-Group-Project/heighest_lowest_Incidencerate_data.csv"

# Read CSV
raw_data = pd.read_csv(Lifestyle_data)
cancer_data = pd.read_csv(Incidence_data)


#Cleanup of LifeStyle Data
raw_data_df = pd.DataFrame(raw_data).rename(columns = {'YearStart':"Year", 'LocationDesc':"State", "Data_Value":"Percentage", "Class":"Category"})
del raw_data_df['YearEnd']
del raw_data_df['LocationAbbr']
del raw_data_df['Datasource']
del raw_data_df['Topic']
del raw_data_df['Data_Value_Unit']
del raw_data_df['Data_Value_Type']
del raw_data_df['Data_Value_Alt']
del raw_data_df['Data_Value_Footnote_Symbol']
del raw_data_df['Data_Value_Footnote']
del raw_data_df['Low_Confidence_Limit']
del raw_data_df['High_Confidence_Limit ']
del raw_data_df['Education']
del raw_data_df['Gender']
del raw_data_df['Income']
del raw_data_df['Race/Ethnicity']
del raw_data_df['GeoLocation']
del raw_data_df['ClassID']
del raw_data_df['TopicID']
del raw_data_df['Sample_Size']
del raw_data_df['Total']
del raw_data_df['Age(years)']
del raw_data_df['QuestionID']
del raw_data_df['DataValueTypeID']
del raw_data_df['LocationID']
del raw_data_df['StratificationCategoryId1']
del raw_data_df['StratificationCategory1']
del raw_data_df['Stratification1']
del raw_data_df['StratificationID1']
raw_data_df

# Merge our two data frames together
combined_data = pd.merge(raw_data_df, cancer_data, on="State")
combined_data=combined_data.dropna()

export_csv = cat_data.to_csv (r'../Row-2-Group-Project/combined_lifestyle_data.csv', header=True)


combined_data.head()

,Year,State,Category,Question,Percentage,Incidence Rate,Average Annual Count_x,Death Rate,Average Annual Count_y,Cancer Death_per_hundred_cancer_patient
0,2012,Alaska,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,30.3,413,2784,165,977,35
1,2011,Alaska,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,27.4,413,2784,165,977,35
2,2011,Alaska,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,28.0,413,2784,165,977,35
3,2011,Alaska,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,26.7,413,2784,165,977,35
4,2011,Alaska,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,28.8,413,2784,165,977,35

In [2]:
#Top States Category Overall Averages
years_selected = combined_data["Year"].isin(['2012','2013','2014','2015','2016'])
filter_topstates_data = combined_data[years_selected]
grouped_topstates_data = filter_topstates_data.groupby(["Category",])
Avg_topstates_Percent = (grouped_topstates_data["Percentage"]).mean()

cat_topstates_data = pd.DataFrame({"Top States Overall Averages":Avg_topstates_Percent})
export_csv = cat_topstates_data.to_csv (r'../Row-2-Group-Project/cat_topstates_data.csv', header=True)


cat_topstates_data

                         Top States Overall Averages
Category
Fruits and Vegetables                      31.225211
Obesity / Weight Status                    31.715191
Physical Activity                          30.753409

In [3]:
#Creating a dataframe to gather data for bar chart
years_selected = combined_data["Year"].isin(['2012','2013','2014','2015','2016'])

#get physical activity data
cat_physical_chosen= raw_data_df["Category"].isin(['Physical Activity'])
filter_physical_data = combined_data[years_selected&cat_physical_chosen]
grouped_physical_data = filter_physical_data.groupby(["State",])
Avg_physical_Percent = (grouped_physical_data["Percentage"]).mean()

#get obesity data
cat_obesity_chosen= raw_data_df["Category"].isin(['Obesity / Weight Status'])
filter_obesity_data = combined_data[years_selected&cat_obesity_chosen]
grouped_obesity_data = filter_obesity_data.groupby(["State",])
Avg_obesity_Percent = (grouped_obesity_data["Percentage"]).mean()

#get nutrition data
cat_nutrition_chosen= raw_data_df["Category"].isin(['Fruits and Vegetables'])
filter_nutrition_data = combined_data[years_selected&cat_nutrition_chosen]
grouped_nutrition_data = filter_nutrition_data.groupby(["State",])
Avg_nutrition_Percent = (grouped_nutrition_data["Percentage"]).mean()


#Setting up the dataframe
cat_data = pd.DataFrame({"Physical Activity":Avg_physical_Percent,
                        "Obesity / Weight Status":Avg_obesity_Percent,
                        "Fruits and Vegetables":Avg_nutrition_Percent})
export_csv = cat_data.to_csv (r'../Row-2-Group-Project/cat_data.csv', header=True)
cat_data.dropna()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if sys.path[0] == '':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,Physical Activity,Obesity / Weight Status,Fruits and Vegetables
State,,,
Alaska,31.507261,31.884259,35.255769
Arizona,31.149527,32.808491,28.417308
California,30.229231,31.951887,28.033333
Colorado,33.247302,28.729767,25.411009
Delaware,30.825342,32.540201,32.753000
Kentucky,32.812795,33.222059,28.348000
Louisiana,34.046875,31.149215,33.945455
Maine,31.367944,30.293782,28.629167
Nevada,30.662136,33.915842,28.628000
New Hampshire,29.933218,31.605699,29.559375
New Jersey,30.757547,30.462326,30.328972
New Mexico,30.980064,32.609479,33.759223
New York,30.445395,30.755024,27.034653
Pennsylvania,31.223000,30.245771,31.035294
Rhode Island,30.513770,29.946078,30.481373
Texas,29.679553,32.579126,29.849515
Utah,28.477564,33.281281,27.924000
Virginia,31.253292,31.200000,30.690291
West Virginia,31.176842,31.690761,36.109375
Wyoming,30.573611,32.749231,33.942708

In [4]:
#Creating a dataframe to gather data to calculate correlations
Incidence_rate = combined_data.groupby(["State"])["Incidence Rate"].mean()

corr_cat_data = pd.DataFrame({"Physical Activity":Avg_physical_Percent,
                        "Obesity / Weight Status":Avg_obesity_Percent,
                        "Fruits and Vegetables" :Avg_nutrition_Percent,
                        "Incidence Rate": Incidence_rate})
export_csv = corr_cat_data.to_csv (r'../Row-2-Group-Project/corr_cat_data.csv', header=True)
corr_cat_data.dropna()

,Physical Activity,Obesity / Weight Status,Fruits and Vegetables,Incidence Rate
State,,,,
Alaska,31.507261,31.884259,35.255769,413
Arizona,31.149527,32.808491,28.417308,387
California,30.229231,31.951887,28.033333,405
Colorado,33.247302,28.729767,25.411009,401
Delaware,30.825342,32.540201,32.753000,498
Kentucky,32.812795,33.222059,28.348000,521
Louisiana,34.046875,31.149215,33.945455,481
Maine,31.367944,30.293782,28.629167,476
Nevada,30.662136,33.915842,28.628000,393
New Hampshire,29.933218,31.605699,29.559375,484
New Jersey,30.757547,30.462326,30.328972,483
New Mexico,30.980064,32.609479,33.759223,374
New York,30.445395,30.755024,27.034653,483
Pennsylvania,31.223000,30.245771,31.035294,487
Rhode Island,30.513770,29.946078,30.481373,478
Texas,29.679553,32.579126,29.849515,408
Utah,28.477564,33.281281,27.924000,403
Virginia,31.253292,31.200000,30.690291,419
West Virginia,31.176842,31.690761,36.109375,476
Wyoming,30.573611,32.749231,33.942708,397

In [ ]:
#Ben's Part 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress
from scipy.optimize import curve_fit

In [ ]:
cancer_df = pd.read_csv("Resource/Added_final_combined_cancer_data.csv")
cancer_df.head()

In [ ]:
merged_table =pd.merge(income_df, cancer_df, how="left", on="State").fillna(0)#.dropna()
merged_table.head()

In [ ]:
income = merged_table["Household Income"]
incidence_rate = merged_table["Incidence Rate"]

plt.scatter(income,incidence_rate, edgecolors= "black", facecolors="blue", alpha=.5)
plt.xlabel("Household Income (2018 inflated dollars)")
plt.ylabel("Incidence Rate")
plt.title("Household Income vs Cancer Incidence Rate")

(slope, intercept, rvalue, pvalue, stderr) = linregress(income, incidence_rate)
tempregress_values = income*slope + intercept
templine_eq = "y = " + str(round(slope,2)) + "x = " + str(round(intercept, 2))
plt.annotate(templine_eq,(6,10), fontsize=15, color="red")
plt.plot(income, tempregress_values, "r-")
plt.show()
print(f"The r-squared is: {rvalue}")

In [ ]:
income = merged_table["Household Income"]
cancer_death = merged_table["Death Rate"]

plt.scatter(income,cancer_death, edgecolors= "black", facecolors="green", alpha=.5)
plt.xlabel("Household Income (2018 inflated dollars)")
plt.ylabel("Death Rate")
plt.title("Household Income vs Cancer Death Rate")

(slope, intercept, rvalue, pvalue, stderr) = linregress(income, cancer_death)
tempregress_values = income*slope + intercept
templine_eq = "y = " + str(round(slope,2)) + "x = " + str(round(intercept, 2))

plt.annotate(templine_eq,(6,10), fontsize=15, color="red")
plt.plot(income, tempregress_values, "r-")
plt.show()

print(f"The r-squared is: {rvalue}")

In [ ]:
income = merged_table["Household Income"]
Death_per_hundred = merged_table["Cancer Death_per_hundred_cancer_patient"]

plt.scatter(income,Death_per_hundred, edgecolors= "black", facecolors="orange", alpha=.5)
plt.xlabel("Household Income (2018 inflated dollars)")
plt.ylabel("Cancer Death per 100 People")
plt.title("Household Income vs Cancer Death per 100 People")

(slope, intercept, rvalue, pvalue, stderr) = linregress(income, Death_per_hundred)
tempregress_values = income*slope + intercept
templine_eq = "y = " + str(round(slope,2)) + "x = " + str(round(intercept, 2))

plt.annotate(templine_eq,(6,10), fontsize=15, color="red")
plt.plot(income, tempregress_values, "r-")
plt.show()
print(f"The r-squared is: {rvalue}")