In [13]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import linregress
from scipy.optimize import curve_fit
import numpy as np

In [40]:
data = pd.read_csv("Resource/heighest_lowest_Incidencerate_data.csv", delimiter=",",
                  ) 
data.head()

  State,Death Rate,Average Annual Count_y,Cancer Death_per_hundred_cancer_patient\tIncidence Rate\tAverage Annual Count_x
0      New Mexico,374.0,9116.0,144.0,3514.0,39.0\t\t
1       Arizona,387.0,30448.0,144.0,11508.0,38.0\t\t
2         Nevada,393.0,12409.0,162.0,4934.0,40.0\t\t
3          Wyoming,397.0,2638.0,145.0,943.0,36.0\t\t
4       Colorado,401.0,22701.0,139.0,7520.0,33.0\t\t

In [52]:
data["State"] = data["State,Death Rate,Average Annual Count_y,Cancer Death_per_hundred_cancer_patient\tIncidence Rate\tAverage Annual Count_x"].str.split(",",expand=True)[0]
data["Death Rate"]= data["State,Death Rate,Average Annual Count_y,Cancer Death_per_hundred_cancer_patient\tIncidence Rate\tAverage Annual Count_x"].str.split(",",expand=True)[1]
data["Average Annual Count"]= data["State,Death Rate,Average Annual Count_y,Cancer Death_per_hundred_cancer_patient\tIncidence Rate\tAverage Annual Count_x"].str.split(",",expand=True)[1]
data["Cancer Death per 100"]=""
data["Incidence Rate"]=""
data["Average Annual Count"]=""
data

,"State,Death Rate,Average Annual Count_y,Cancer Death_per_hundred_cancer_patient\tIncidence Rate\tAverage Annual Count_x",State,Death Rate,Average Annual Count,Cancer Death per 100,Incidence Rate
0,"New Mexico,374.0,9116.0,144.0,3514.0,39.0\t\t",New Mexico,374.0,,,
1,"Arizona,387.0,30448.0,144.0,11508.0,38.0\t\t",Arizona,387.0,,,
2,"Nevada,393.0,12409.0,162.0,4934.0,40.0\t\t",Nevada,393.0,,,
3,"Wyoming,397.0,2638.0,145.0,943.0,36.0\t\t",Wyoming,397.0,,,
4,"Colorado,401.0,22701.0,139.0,7520.0,33.0\t\t",Colorado,401.0,,,
5,"Utah,403.0,10143.0,127.0,3021.0,30.0\t\t",Utah,403.0,,,
6,"California,405.0,165242.0,145.0,58588.0,35.0\t\t",California,405.0,,,
7,"Texas,408.0,107094.0,154.0,38943.0,36.0\t\t",Texas,408.0,,,
8,"Alaska,413.0,2784.0,165.0,977.0,35.0\t\t",Alaska,413.0,,,
9,"Virginia,419.0,39078.0,161.0,14686.0,38.0\t\t",Virginia,419.0,,,
10,"Maine,476.0,8700.0,174.0,3267.0,38.0\t\t",Maine,476.0,,,
11,"West Virginia,476.0,11653.0,189.0,4756.0,41.0\t\t",West Virginia,476.0,,,
12,"Rhode Island,478.0,6163.0,165.0,2223.0,36.0\t\t",Rhode Island,478.0,,,
13,"Louisiana,481.0,24888.0,183.0,9346.0,38.0\t\t",Louisiana,481.0,,,
14,"New York,483.0,111527.0,151.0,35491.0,32.0\t\t",New York,483.0,,,
15,"New Jersey,483.0,50921.0,154.0,16407.0,32.0\t\t",New Jersey,483.0,,,
16,"New Hampshire,484.0,8129.0,162.0,2718.0,33.0\t\t",New Hampshire,484.0,,,
17,"Pennsylvania,487.0,79060.0,169.0,28658.0,36.0\t\t",Pennsylvania,487.0,,,
18,"Delaware,498.0,5803.0,170.0,1989.0,34.0\t\t",Delaware,498.0,,,
19,"Kentucky,521.0,26945.0,198.0,10206.0,38.0\t\t",Kentucky,521.0,,,

In [42]:
data[['State', 'Death Rate']] = data['State,Death Rate,Average Annual Count_y,Cancer Death_per_hundred_cancer_patient\tIncidence Rate\tAverage Annual Count_x'].str.split(',', expand=True)
data

ValueError: Columns must be same length as key